@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html::-webkit-scrollbar-button,
body::-webkit-scrollbar-button,
#root::-webkit-scrollbar-button {
  -webkit-appearance: none;
  display: none;
  background: transparent;
  border: 0;
  width: 0;
  height: 0;
}

body {
  min-width: 320px;
}

#root {
  width: 100%;
  height: 100%;
}

.mainpage-scrollbar {
  -ms-overflow-style: auto;
  scrollbar-width: thin;
  scrollbar-color: #Ff6900 transparent;
}

.mainpage-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.mainpage-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.mainpage-scrollbar::-webkit-scrollbar-thumb {
  background-color: #Ff6900;
  border-radius: 9999px;
  border: 2px solid transparent;
}
